body {
    background: #fefefe;
    color: black;
}

.sectionHeader,
.diaryHeader {
    color: #1460AA;
}

p {
    color: darkblue;
}

#header {
    color: red;
}

.thirdHeader {
    color: #0496FF;
}

.heading {
    color: #00487C;
}

.link {
    color: #1A936F;
}