html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: green;
    background: rgb(90, 65, 65);
}

p {
    color: darkblue;
}

.header {
    color: red;
}

.header__title {
    color: #00487C;
}

.header__title--red {
    color: red;
}

.site-header {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 16px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navigation {}

.navigation__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    display: block;
    margin: 0 16px;
}

.navigation__link {
    color: #1A936F;
}

.main {
    padding-top: 40px;
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.box,
.box-test {
    width: 100px;
    height: 100px;
    background: yellow;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    box-sizing: border-box;
}

.box {
    position: sticky;
}

.box-test {
    top: 30px;
    background: blueviolet;
    right: 75%;
    z-index: 999;
}

.kok {
    width: 100%;
    max-width: 300px;
    display: block;
    float: left;
    margin: 10px;
}

.diary {
    clear: left;
}

.diary__header {
    color: #1460AA;
}

.about {}

.about__header {
    color: #1460aa;
}

.about__paragraph {
    padding: 16px;
    font-size: 20px;
}

.about__paragraph--color {
    color: #ff6700;
}

.about__link {
    color: #1A936F;
}

.day {
    padding: 16px;
}

.day__header {
    margin: 0 0 16px;
    color: #0496FF;
    font-size: 20px;
}

.day_header--sunday {
    color: darkred;
}

.diary__paragraph {
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.hobby {}

.hobby__list {
    list-style: none;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

@media (min-width:641px) {
    .navigation__switcher {
        display: none;
    }
}

@media (max-width:640px) {
    .navigation {}
    .navigation__list {
        flex-direction: column;
        display: none;
    }
    .navigation__list--visible {
        display: flex;
    }
    .navigation__item {
        margin: 16px;
    }
    .site-header {
        min-height: 46px;
        ;
    }
    .navigation__switcher {
        border: none;
        background: none;
        position: absolute;
        right: 16px;
        top: 16px;
    }
}