body {
    background: #fefefe;
}

.sectionHeader {
    color: #1460AA;
    font-size: 64px;
}

.diaryHeader {
    color: rgb(57, 212, 122);
}

p {
    color: darkblue;
}

#pamietniczek {
    background: yellow !important;
}

#header h1 {
    color: red;
}

h1 {
    color: yellow;
}

body main#main h1.heading {
    color: blue;
}

body main#main h1.heading {
    color: rgb(214, 84, 19);
}